{% load staticfiles %}
<html>
  <head>
    <title>Stefan's blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static 'js/enable_tlsjs' %}" async></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>
    <header>
      <h1><a href="/">Stefan's blog</a></h1>
    </header>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer><a href="http://estada.ch/">Estada.ch</a></footer>
  </body>
</html>
